.disclaimer-container {
  width: 100%;
  height: fit-content;
  background-color: var(--clr-neutral-700);
  padding: 1rem;
  border-radius: 1rem;
  font-family: var(--ff-body);
}

.disclaimer-heading {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.disclaimer-heading h1 {
  font-size: var(--fs-body);
  margin-left: 1rem;
}

.disclaimer-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.disclaimer-body p {
  font-size: var(--fs-detail);
}
