.driver-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-wrapper {
  max-width: 425px;
  width: 100%;
  aspect-ratio: 3 / 4;
  max-height: 550px;
  border: var(--clr-neutral-100) solid 0.45rem;
  border-radius: 2rem;
  padding: 0.5rem;
  background: #071245;
  display: inline-block;
  /* container-type: inline-size; */
  transition: background 0.25s ease-in-out;
}

.card-wrapper:has(div.empty-card) {
  border: var(--clr-neutral-800) solid 0.45rem;
  background: transparent;
}

.card {
  display: flex;
  flex-direction: column;
  /* width: 400px; */
  width: 100%;
  /* height: 550px; */
  height: 100%;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: var(--clr-neutral-800);
  overflow: hidden;
  transition: background 0.25s ease-in-out;
}

.empty-card {
  align-items: center;
  justify-content: center;
  color: var(--clr-neutral-400);
  border: var(--clr-neutral-800) solid 0.25rem;
}

.driver-card {
  border: var(--clr-neutral-100) solid 0.25rem;
}

.driver-card-header {
  display: flex;
  gap: 1rem;
  height: 150px;
}

.driver-card-title {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.5rem;
  /* max-width: 400px; */
  width: 100%;
  max-width: 100%;
  color: var(--clr-neutral-100);
}

.driver-card-title h1 {
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  /* font-size: var(--fs-secondary-heading); */
  font-size: clamp(1rem, 3.5vw, var(--fs-secondary-heading));
  line-height: 1.1;
  width: 100%;
  max-width: 100%;
  /* text-shadow: 3px 3px var(--clr-neutral-800); */
}

.driver-card-title h2 {
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  font-style: italic;
}

.driver-number {
  font-family: var(--ff-primary);
  font-size: var(--fs-secondary-heading);
  background-color: crimson;
  color: var(--clr-neutral-100);
  padding: 0.25rem 1rem 0.25rem 0.5rem;
  font-weight: bold;
  font-style: italic;
  font-size: 3rem;
  border-radius: 5px;
  margin-left: auto;
  height: fit-content;
  width: fit-content;
  text-shadow: 2px 2px var(--clr-neutral-800);
  box-shadow: 0.125em 0.125em 0 0 var(--clr-neutral-800) 0.25em 0.25em 0 0
    rgba(0, 0, 0, 0.25);
  /* box-shadow: 0.25em 0.25em 0 0 rgba(0, 0, 0, 0.25); */
}

.card-img-container {
  --racing-stripe-clr: var(--clr-neutral-100);
  display: flex;
  height: 100%;
  width: calc(100% + 2rem);
  margin-block: 1rem;
  /* padding-inline: -1.5rem; */
  overflow: hidden;
  /* justify-content: center; */
  margin-left: -1rem;
  margin-right: -1rem;
}

.card-img-container::before,
.card-img-container::after {
  content: "";
  width: 100%;
  height: 1.25rem;
  border-top: var(--racing-stripe-clr) solid 6px;
  border-bottom: var(--racing-stripe-clr) solid 6px;
  border-left: none;
  border-right: none;
  margin-block: auto;
}

.card-img-container::before {
  width: 100%;
  margin-right: 0.5rem;
  /* margin-left: -2rem; */
}
.card-img-container::after {
  width: 100%;
  margin-left: 0.5rem;
  /* margin-right: -2rem; */
}

.card-img {
  aspect-ratio: 1/1;
  background-color: var(--clr-neutral-300);
  border: var(--clr-neutral-200) solid 8px;
  border-radius: 100vh;
  /* max-height: 300px; */
}

.card-img[data-type="driver"] {
  border-radius: 100vh;
  padding: 1rem;
  max-height: 300px;
  margin: 0.25rem;
  filter: saturate(0.7);
}

.card-img[data-type="team"] {
  border-radius: 100vh;
  padding: 1rem;
  max-height: 300px;
  /* min-width: 75%; */
}

.driver-card-footer {
  /* margin-top: auto; */
  display: flex;
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
  height: fit-content;
  align-items: center;
  margin: auto -1.5rem -1.5rem;
}

.driver-acronym {
  margin-left: 1.5rem;
  text-align: left;
  font-weight: var(--fw-bold);
  font-size: var(--fs-secondary-heading);
  font-family: var(--ff-primary);
  color: var(--clr-neutral-100);
}

.flag-container {
  display: flex;
  background-color: var(--clr-neutral-100);
  padding: 1.25rem 0.75rem 1rem 1.25rem;
  border-radius: 3rem 0 0 0;
  align-items: center;
  width: fit-content;
  margin-left: auto;
}

.driver-flag {
  height: 50px !important;
  aspect-ratio: 4 / 3;
  width: auto !important;
  display: inline-block;
  border-radius: 5px;
  overflow: hidden;
  /* margin-left: auto; */
}

@media (min-width: 42em) and (max-width: 50em) {
  .flag-container {
    border-radius: 2rem 0 0 0;
    padding: 0.85rem 0.65rem 0.65rem 0.85rem;
  }

  .driver-flag {
    height: 40px !important;
  }
}

@media (min-width: 35em) and (max-width: 44em) {
  .card {
    padding: 0.75rem 0.5rem 0.5rem;
  }

  .driver-card-header {
    gap: 0.5rem;
  }

  .driver-card-title h1 {
    /* font-size: var(--fs-sub-heading) !important; */
    font-size: clamp(1rem, 3.5vw, var(--fs-sub-heading)) !important;
  }

  .driver-card-title h2 {
    font-size: var(--fs-detail) !important;
  }

  .driver-number {
    font-size: var(--fs-sub-heading) !important;
  }

  .driver-acronym {
    font-size: var(--fs-sub-heading) !important;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }

  .flag-container {
    border-radius: 2rem 0 0 0;
    padding: 0.75rem 1.25rem 1.5rem 0.75rem;
  }

  .driver-flag {
    height: 30px !important;
  }
}

@media (max-width: 34.999em) {
  .card {
    padding: 0.75rem;
  }

  .driver-card-title h1 {
    /* font-size: var(--fs-sub-heading) !important; */
    font-size: clamp(1rem, 6vw, var(--fs-sub-heading)) !important;
  }
}
