.driver-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: stretch;
}

.card-wrapper {
  max-width: 425px;
  width: 100%;
  aspect-ratio: 3 / 4;
  max-height: 550px;
  border: var(--clr-neutral-100) solid 0.5rem;
  border-radius: 2rem;
  padding: 0.5rem;
  background: #071245;
  display: block;
  /* container-type: inline-size; */
  transition: background 0.25s ease-in-out;
}

.card-wrapper:has(div.empty-card) {
  border: var(--clr-neutral-800) solid 0.45rem;
  background: transparent;
}

.card {
  display: flex;
  flex-direction: column;
  /* width: 400px; */
  width: 100% !important;
  /* height: 550px; */
  height: 100% !important;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: var(--clr-neutral-800);
  overflow: hidden;
  transition: background 0.25s ease-in-out;
}

.empty-card {
  align-items: center;
  justify-content: center;
  color: var(--clr-neutral-400);
  border: var(--clr-neutral-800) solid 0.25rem;
}

.card-control-row {
  max-width: 425px;
  width: 100%;
  display: flex;
  align-items: end;
}

.driver-card {
  border: var(--clr-neutral-200) solid 0.25rem;
}

.driver-card-header {
  display: flex;
  gap: 1rem;
  /* min-height: 125px; */

  height: fit-content;
}

.driver-card-title {
  display: flex;
  flex-direction: column;
  text-align: left;
  /* gap: 0.25rem; */
  /* max-width: 400px; */
  width: 100%;
  max-width: 100%;
  color: var(--clr-neutral-100);
}

.driver-card-title h1 {
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  /* font-size: var(--fs-secondary-heading); */
  font-size: clamp(1rem, 3.5vw, var(--fs-secondary-heading));
  line-height: 1.1;
  width: 100%;
  max-width: 100%;
  /* text-shadow: 3px 3px var(--clr-neutral-800); */
}

.driver-card-title h2 {
  color: var(--clr-neutral-300);
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  font-style: italic;
}

.driver-number {
  font-family: var(--ff-primary);
  font-size: var(--fs-secondary-heading);
  background-color: crimson;
  color: var(--clr-neutral-100);
  padding: 0.25rem 1rem 0.25rem 0.5rem;
  font-weight: bold;
  font-style: italic;
  font-size: 3rem;
  border-radius: 5px;
  margin-left: auto;
  height: fit-content;
  width: fit-content;
  text-shadow: 2px 2px var(--clr-neutral-800);
  box-shadow: 0.125em 0.125em 0 0 var(--clr-neutral-800) 0.25em 0.25em 0 0
    rgba(0, 0, 0, 0.25);
  /* box-shadow: 0.25em 0.25em 0 0 rgba(0, 0, 0, 0.25); */
}

.card-body {
  --racing-stripe-clr: var(--clr-neutral-100);
  display: flex;
  height: 50%;
  /* max-height: ; */
  width: calc(100% + 2rem);
  /* margin-block: 1rem; */
  margin-block: auto;
  /* padding-inline: -1.5rem; */
  overflow: hidden;
  /* justify-content: center; */
  margin-left: -1rem;
  margin-right: -1rem;
}

.card-body::before,
.card-body::after {
  content: "";
  width: 15%;
  height: 1.25rem;
  border-top: var(--racing-stripe-clr) solid 6px;
  border-bottom: var(--racing-stripe-clr) solid 6px;
  border-left: none;
  border-right: none;
  margin-block: auto;
}

.card-body::before {
  /* width: 50%; */
  margin-right: 0.5rem;
  /* margin-left: -2rem; */
}
.card-body::after {
  /* width: 50%; */
  margin-left: 0.5rem;
  /* margin-right: -2rem; */
}

.card-info-body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: auto;
  overflow: h;
  width: 100%;
  height: 100%;
}

/* .card-info-body span {
  background-color: #ae2327;
  padding: 0.25rem 1.5rem;
  border-radius: 100vh;
} */

.card-img-container {
  position: relative;
  --container-bg-clr: var(--clr-neutral-300);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--container-bg-clr);
  border: var(--clr-neutral-200) solid 8px;
  border-radius: 100vh;
  padding: 1rem;
  aspect-ratio: 1/1;
  /* width: 280px; */
  /* width: 90%; */
  /* height: auto; */

  height: 100%;
  max-height: 300px;
  overflow: hidden;
  margin: 0 auto;
}

.card-img {
  /* margin-top: 3rem; */

  object-fit: cover;
  font-size: 30px;

  /* -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat; */
}

.card-img::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%; /* Adjust this to control the height of the fade */
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  ); /* Fades from black to transparent */
  /* Or, to fade from transparent to a solid color: */
  /* background-image: linear-gradient(to top, black, transparent); */
}

.card-img[data-type="driver"] {
  position: absolute;
  inset: 0.75rem 0 0 0; /* top:0; right:0; bottom:0; left:0; */
  width: 100%;
  height: 100%;
  transform: scale(0.95);
  transition: transform 220ms ease;
  /* border-radius: 100vh;
  padding: 1rem;
  max-height: 300px;
  margin: 0.25rem; */
  /* filter: saturate(0.7); */
}

.card-img[data-type="team"] {
  width: 85%;
  /* object-fit: contain; */
  /* border-radius: 100vh; */
  /* padding: 1rem; */
  /* width: 100%; */
  /* height: auto; */
  /* max-height: 300px; */
  /* max-width: 300px; */
  /* margin: 0.25rem; */
  /* min-width: 75%; */
}

.driver-card-footer {
  /* margin-top: auto; */
  display: flex;
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
  height: fit-content;
  align-items: center;
  margin: 0 -1.5rem -1.5rem;
}

.driver-acronym {
  margin-left: 1.5rem;
  text-align: left;
  font-weight: var(--fw-bold);
  font-size: var(--fs-secondary-heading);
  font-family: var(--ff-primary);
  color: var(--clr-neutral-100);
}

.flag-container {
  display: flex;
  background-color: var(--clr-neutral-200);
  padding: 1.25rem 0.75rem 1rem 1.25rem;
  border-radius: 3rem 0 0 0;
  align-items: center;
  width: fit-content;
  margin-left: auto;
}

.driver-flag {
  height: 50px !important;
  aspect-ratio: 4 / 3;
  width: auto !important;
  display: inline-block;
  border-radius: 5px;
  overflow: hidden;
  /* margin-left: auto; */
}

@media (min-width: 42em) and (max-width: 50em) {
  .flag-container {
    border-radius: 2rem 0 0 0;
    padding: 0.85rem 0.65rem 0.65rem 0.85rem;
  }

  .driver-flag {
    height: 40px !important;
  }
}

@media (min-width: 38em) and (max-width: 44em) {
  .card {
    padding: 0.75rem 0.5rem 0.5rem;
  }

  .driver-card-header {
    gap: 0.5rem;
  }

  .driver-card-title h1 {
    /* font-size: var(--fs-sub-heading) !important; */
    font-size: clamp(1rem, 3.5vw, var(--fs-sub-heading)) !important;
  }

  .driver-card-title h2 {
    font-size: var(--fs-detail) !important;
  }

  .driver-number {
    font-size: var(--fs-sub-heading) !important;
  }

  .driver-acronym {
    font-size: var(--fs-sub-heading) !important;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }

  .flag-container {
    border-radius: 2rem 0 0 0;
    padding: 0.75rem 1.25rem 1.5rem 0.75rem;
  }

  .driver-flag {
    height: 30px !important;
  }
}

@media (max-width: 38em) {
  .card {
    padding: 0.75rem;
  }

  .driver-card-title h1 {
    /* font-size: var(--fs-sub-heading) !important; */
    font-size: clamp(1rem, 6vw, var(--fs-sub-heading)) !important;
  }
}
