section {
  margin-bottom: 2rem;
}

.info-content {
  margin-left: 0.25rem;
}

.info-section {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
}

.module-guide-wrapper {
  --line-clr: var(--clr-neutral-800);
  position: relative;
  width: 2rem;
}

.module-guide-icon-wrapper {
  display: flex;
  margin-left: -0.95rem;
  padding-bottom: 0.25rem;
  height: 3.5rem;
  width: 2rem;
  align-items: center;
}

.module-guide-icon {
  width: 2rem;
  transition: all 0.25s ease-in-out;
}

.module-guide-wrapper::before {
  background-color: var(--line-clr);
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  top: 3.5rem;
  width: 2px;
  z-index: -1;
  transition: all 0.25s ease-in-out;
}

.section-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.info-text-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* max-width: 60%; */
}

.info-text-block {
  background-color: var(--clr-neutral-750);
  padding: 1.5rem;
  border-radius: 1rem;
}

.info-text-container h2 {
  margin-bottom: 0.5rem;
}

.info-text-decor {
  font-family: var(--ff-primary);
  font-size: var(--fs-primary-heading);
  color: var(--clr-neutral-700);
  margin-block: auto;
  margin-right: 1.5rem;
  width: 3rem;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.info-grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

.info-grid-wrapper img {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.info-track-container {
  display: flex;
  flex-direction: column;
  /* grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr;
  column-gap: 2rem; */
  gap: 2rem;
  align-items: center;
  margin-block: auto;
}

/* .info-track-container div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
} */

.point-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gap: 2rem; */
}

.point-container div {
  display: block;
  margin-inline: auto;
}

.point-container h2 {
  margin-bottom: 0.75rem;
}

.flag-indicator {
  --indicator-clr: white;
  position: relative;
  margin-left: 1.5rem;
}

.flag-indicator::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: var(--indicator-clr);
  border: var(--clr-neutral-200) 1px solid;
  top: 0.15rem;
  left: -1.5rem;
  /* right: 0; */
  border-radius: 0.25rem;
}

.fs-sub-heading.accent {
  position: relative;
  padding-left: 1.5rem;
  display: inline-block;
}

.fs-sub-heading.accent::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.15rem;
  height: calc(100% - 0.2rem);
  width: 6px;
  border-radius: 4px;
  background: var(--clr-primary-400);
}

@media (max-width: 60em) {
  .info-grid-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr;
    row-gap: 2rem;
  }

  .info-track-container {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 0.5fr;
    column-gap: 2rem;
  }
}

@media (max-width: 50em) {
  .point-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .info-track-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr;
    column-gap: 2rem;
  }
}
