:root {
  --clr-primary-300: #d32e34;
  --clr-primary-400: #c12b30;

  --clr-secondary-400: #276a5a;

  --clr-tertiary-400: #1f5c84;

  /* --clr-neutral-100: #FFFFFF; */
  /* --clr-neutral-100: #e0e0e0;
  --clr-neutral-200: #cccccc;
  --clr-neutral-300: #aaaaaa;
  --clr-neutral-400: #808080;
  --clr-neutral-500: #717171;
  --clr-neutral-600: #545454;
  --clr-neutral-700: #3e3e3e;
  --clr-neutral-800: #1e1e1e;
  --clr-neutral-900: #121212; */

  /* --clr-neutral-400: #808080; */

  --clr-neutral-100: hsl(47, 10%, 90%);
  --clr-neutral-200: #dedcd4;
  --clr-neutral-300: #bebcb4;
  --clr-neutral-400: #9a9891;
  --clr-neutral-500: #75736d;
  --clr-neutral-600: #585753;
  --clr-neutral-700: #3f3e3b;
  --clr-neutral-750: #2f2f2d;
  --clr-neutral-800: #262524;
  --clr-neutral-850: #1e1e1d;
  --clr-neutral-900: #141413;

  --clr-accent-300: #e2c77d;
  --clr-accent-400: #d1b66a;
  --clr-accent-500: #c5ac65;

  --clr-hard-low: #ffffff;
  --clr-hard-high: #fffbe3;
  --clr-medium-low: #eed16a;
  --clr-medium-high: #e7bc23;
  --clr-soft-low: #b5171d;
  --clr-soft-high: #901317;

  --ff-primary: "Racing Sans One", sans-serif;
  --ff-body: "Urbanist", sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-300: 1rem;
  --fs-350: 1.125rem;
  --fs-400: 1.25rem;
  --fs-450: 2rem;
  --fs-500: 2.75rem;
  --fs-600: 3rem;
  --fs-700: 4.5rem;

  --fs-detail: var(--fs-300);
  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-700);
  --fs-secondary-heading: var(--fs-500);
  --fs-sub-heading: var(--fs-450);
  --fs-form-submit: 2.5rem;
  --fs-stat: var(--fs-500);
}

.text-neutral-100 {
  color: var(--clr-neutral-100);
}

.text-neutral-200 {
  color: var(--clr-neutral-200);
}

.text-neutral-400 {
  color: var(--clr-neutral-400);
}

.text-neutral-500 {
  color: var(--clr-neutral-500);
}

.text-neutral-600 {
  color: var(--clr-neutral-600);
}

.text-neutral-900 {
  color: var(--clr-neutral-900);
}

.text-accent-400 {
  color: var(--clr-accent-400);
}

.bg-neutral-100 {
  color: var(--clr-neutral-100);
}

.bg-neutral-900 {
  color: var(--clr-neutral-900);
}

.ff-primary {
  font-family: var(--ff-primary);
}
.ff-body {
  font-family: var(--ff-body);
}

.fw-bold {
  font-weight: var(--fw-bold);
}
.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}
.fw-medium {
  font-weight: var(--fw-medium);
}
.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-detail {
  font-size: var(--fs-detail);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
}

.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
}

.fs-sub-heading {
  font-size: var(--fs-sub-heading);
}

.fs-body {
  font-size: var(--fs-body);
}

.fs-stat {
  font-size: var(--fs-stat);
}

.clr-primary-400 {
  color: var(--clr-primary-400);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* Set core body defaults */
body {
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

p,
h1,
h2,
h3,
h4,
button,
input,
label {
  z-index: 5;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  font-family: Arial, Helvetica, sans-serif;
}

/* html::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 2000 2000' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3CfeColorMatrix in='noise' type='saturate' values='0' /%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-blend-mode: darken;
  z-index: -1;
  opacity: 0.08;
} */

#root {
  max-width: 1720px;
  margin: 0 auto;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--clr-neutral-100);
}

main {
  flex: 1;
}

input {
  border: none;
  resize: none;
  outline: none;
  background-color: transparent;
}

h1 {
  font-family: var(--ff-primary);
}

p {
  color: var(--clr-neutral-300);
}

.blur-active {
  filter: brightness(75%) blur(5px);
  backface-visibility: hidden;
  transition: filter 0.25s ease-in-out;

  /* margin: -1.25rem; */
  z-index: 99;
  /* pointer-events: none; */
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.bg-svg-element {
  position: fixed;
  opacity: 0.3;
  z-index: -10;
  top: 0;
  left: 0;
}

.fg-svg-element {
  position: absolute;
  opacity: 0.3;
  z-index: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  color: var(--clr-neutral-500);
}

.content-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content-container-large {
  position: relative;
  width: 100%;
  background-color: var(--clr-neutral-800);
  height: fit-content;
  border-radius: 3rem;
  padding: 2rem;
  overflow: hidden;
}

.content-container-small {
  background-color: var(--clr-neutral-750);
  min-width: 300px;
  /* width: fit-content;
  height: fit-content; */
  border-radius: 3rem;
  padding: 2rem;
  overflow: hidden;
}

.info-card {
  display: flex;
  gap: 2rem;
}

.content-header {
  display: flex;
  height: fit-content;
  width: 100%;
  margin-bottom: 0.55rem;
}

.content-header h1 {
  font-family: var(--ff-primary);
  font-size: var(--fs-secondary-heading);
}

.content-header div {
  margin-left: auto;
}

.loading-container {
  height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.loading-container img {
  width: 125px;
  animation: rotate360 4s ease-in-out infinite;
}

@keyframes rotate360 {
  0% {
    /* transform: rotate(0deg); */
  }
  100% {
    transform: rotate(720deg);
  }
}

.header {
  margin-bottom: 3rem;
}

.hero-heading {
  /* -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--clr-neutral-900);
  text-shadow: var(--clr-accent-400) 5px 5px 1px; */
}

.align-right {
  align-items: end;
}

.justify-right {
  margin-left: auto;
}

.driver-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.selection-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 7rem;
  height: 2.65rem;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  border-radius: 100vmax;
  padding: 0.25em 1em;
  font-family: var(--ff-body);
  font-size: var(--fs-350);
  font-weight: var(--fw-semi-bold);
  color: var(--clr-neutral-100);
  background-color: var(--clr-accent-400);

  transition: background-color 0.25s ease-in-out;
}

.button:hover {
  background-color: var(--clr-accent-300);
  transition: background-color 0.25s ease-in-out;
}

.button:active {
  background-color: var(--clr-accent-500);
  transition: background-color 0.25s ease-in-out;
}

.button[data-type="list"] {
  width: 2rem !important;
  height: 2rem !important;
  padding: 1em;
  background-color: var(--clr-neutral-200);
}

.button[data-type="list"]:hover {
  background-color: var(--clr-neutral-100);
  transition: background-color 0.25s ease-in-out;
}

.button[data-type="list"]:active {
  background-color: var(--clr-neutral-300);
  transition: background-color 0.25s ease-in-out;
}

.button[data-type="list"] span {
  color: var(--clr-neutral-900) !important;
}

.button[data-type="inverse"] {
  border: var(--clr-neutral-100) solid 3px;
  background-color: transparent;
  /* color: var(--clr-neutral-900); */
}

.button[data-type="inverse"]:hover {
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
}

.button[data-type="inverse"]:active {
  border-color: var(--clr-neutral-200);
  background-color: var(--clr-neutral-200);
  transition: border-color 0.25s ease-in-out;
}

.divider {
  --divider-margin: 0.25rem;
  --divider-color: var(--clr-neutral-700);
  width: 100%;
  height: 6px;
  border-top: var(--divider-color) solid 2px;
  border-bottom: var(--divider-color) solid 2px;
  border-left: none;
  border-right: none;
  margin: var(--divider-margin) 0 0;
}

.vert-divider {
  height: auto;
  width: 6px;
  border-left: var(--clr-neutral-100) solid 2px;
  border-right: var(--clr-neutral-100) solid 2px;
  border-top: none;
  border-bottom: none;
  margin: 0 0.25rem;
}

.error-flag-container {
  width: fit-content;
  height: fit-content;
  border: var(--clr-neutral-100) solid 6px;
  border-radius: 1.5rem;
  padding: 0.5rem;
  margin-inline: auto;
  margin-bottom: 1rem;
}

.error-flag-container h1 {
  background-color: var(--clr-primary-400);
  border: var(--clr-neutral-100) solid 4px;
  border-radius: 1rem;
  color: var(--clr-neutral-100);
  padding: 1.25rem 2.25rem;
  font-size: var(--fs-sub-heading);
}

.error-text-container {
  max-width: 600px;
  margin-inline: auto;
}

.error-text-container h2 {
  font-size: var(--fs-sub-heading);
  font-family: var(--ff-primary);
  margin-bottom: 0.5rem;
}

.collapsible-btn {
  outline: none;
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: none;
  border-radius: 100vh;
  transition: all 0.2s ease-in-out;
}

.collapsible-btn:hover {
  cursor: pointer;
  background-color: var(--clr-neutral-700);
  transition: all 0.2s ease-in-out;
}

.content-spacer-top {
  margin-top: 2rem;
}

/* .search-box {
  display: flex;
  width: 200px;
  height: 35px;
  border: var(--clr-neutral-100) 3px solid;
  background-color: var(--clr-neutral-850);
  border-radius: 100vh;
  padding-inline: 1rem;
  align-items: center;
  font-family: var(--ff-body);
}

.search-box input {
  color: var(--clr-neutral-100);
}

.search-box:hover {
  border-color: var(--clr-accent-400);
  transition: border-color 0.125s ease-in-out;
}

.search-box:active {
  border-color: var(--clr-accent-300);
  transition: border-color 0.125s ease-in-out;
} */

@media (max-width: 35em) {
  .driver-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    /* max-width: 425px; */
  }
}

@media (max-width: 50em) {
  .content-columns {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
