.combobox {
  height: fit-content;
  width: 200px;
  display: block;
}

.combo-title {
  text-align: left;
  font-family: var(--ff-body);
  margin-bottom: 0.25rem;
}

.combo-container {
  height: 37px;
  width: 200px;
  border: var(--clr-neutral-100) solid 3px;
  background-color: var(--clr-neutral-850);
  border-radius: 100vh;
  overflow: hidden;
  outline: var(--clr-accent-400) solid 0px;
  transition: all 0.125s ease-in-out;
}

.combo-container:hover {
  border-color: var(--clr-accent-400);
  outline: var(--clr-accent-400) solid 1px;
  transition: all 0.125s ease-in-out;
}

.combo-container:active {
  border-color: var(--clr-accent-300);
  outline: var(--clr-accent-400) solid 0px;
  transition: border-color 0.125s ease-in-out;
}

.combo-container.combo-expanded {
  border-color: var(--clr-accent-300);
}

.combo-controls {
  display: flex;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 0.25rem;
}

.combo-input {
  font-family: var(--ff-body);
  width: 85%;
  height: 100%;
  background-color: transparent;
  /* padding-inline: 0.5rem; */
  overflow: hidden;
  box-sizing: border-box;
  vertical-align: middle;
  color: var(--clr-neutral-100);
}

.combo-btn {
  background-color: transparent;
  height: 100%;
  width: 15%;
  box-sizing: border-box;
  vertical-align: middle;
  content: "\2039";
  border-style: none;
  justify-content: center;
  align-items: center;
  color: var(--clr-neutral-100);
}

.combo-btn svg {
  transition: transform 0.25s ease-in-out;
}

.combo-btn.open svg {
  transform: rotate(180deg);
  transition: transform 0.25s ease-in-out;
}

.combo-options {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--clr-neutral-800);
  padding: 0.75rem;
  width: inherit;
  max-height: 300px;
  text-decoration: none;
  list-style: none;
  text-align: left;
  border-radius: 1rem;
  border: var(--clr-neutral-100) solid 3px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: white;
  scroll-margin-right: 0.5rem;
  position: absolute;
  z-index: 10;
}

/* .combo-options::-webkit-scrollbar {
    width: 0.5rem;
}
.combo-options::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;

}
.combo-options::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);

} */

.combo-options li {
  font-family: var(--ff-body);
  background-color: transparent;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  transition: all 0.1s ease-in-out;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}

.combo-options li:hover {
  background-color: var(--clr-neutral-400);
  transition: all 0.1s ease-in-out;
}

.active-option {
  background-color: var(--clr-accent-400) !important;
}

.active-option:hover {
  background-color: var(--clr-accent-300) !important;
}
