.track-body-wrapper {
  max-width: 1200px;
  margin-inline: auto;
}

.track-content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 500px;
  gap: 1rem;
}

.track-visuals {
  width: fit-content;
  margin-inline: auto 1rem;
}

.map-header {
  display: flex;
  align-items: center;
  height: 60px;
}

.track-item-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  gap: 2rem 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
}

.track-info-item {
  width: 200px;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.track-info-item h3,
p {
  font-family: var(--ff-body);
}

.track-info-item h3 {
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-body);
  color: var(--clr-neutral-200);
}

.track-info-item p {
  font-size: var(--fs-body);
  color: var(--clr-neutral-400);
}

.tire-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

.tire-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 3rem;
  gap: 0.5rem;
  margin-inline: auto;
}

.tire-item label {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  text-align: center;
}

.tire-item svg {
  /* width: clamp(1.75rem, 6vw, 3rem); */
  width: 100%;
}

.tire-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
  align-items: center;
  margin-block: 1rem 2rem;
  margin-inline: auto;
}

.compound-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  height: fit-content;
}

.compound-container label {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
}

.compound-row {
  display: flex;
  gap: 0.5rem;
}

.compound-bar {
  height: 1rem;
  width: 100%;
  border: var(--clr-neutral-100) solid 2px;
  border-radius: 100vh;
  background-color: var(--clr-hard-low);
}

.track-img {
  width: 100%;
  max-width: 500px;
  /* margin-top: 2rem; */
  margin-inline: auto;
  filter: brightness(11) saturate(0);
}

.track-flag {
  margin-left: auto;
  border-radius: 100vh;
  height: 50px !important;
  width: 50px !important;
  aspect-ratio: 1/1;
  outline: var(--clr-neutral-100) solid 4px;
}

.track-nav-controls {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-block: auto;
  margin-right: 3rem;
}

.track-nav-options {
  list-style: none;
  margin-top: 1.5rem;
  width: 325px;
}

.track-nav-options li {
  margin-block: 0.5rem;
}

.track-nav-options input[type="radio"] {
  display: none;
}

.track-nav-options label {
  font-family: var(--ff-primary);
  font-size: var(--fs-sub-heading);
  color: var(--clr-neutral-600);
  transition: all 0.25s ease-in-out;
}

.track-nav-options input[type="radio"]:hover + label {
  color: var(--clr-neutral-500);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.track-nav-options input[type="radio"]:checked + label {
  color: var(--clr-neutral-100);
  transition: all 0.25s ease-in-out;
}

.track-nav-container {
  display: flex;
  height: 500px;
  /* align-items: center; */
  /* overflow-y: hidden; */
  overflow: hidden;
  gap: 2rem;
}

.soft-overlay {
  filter: sepia(100%) saturate(500%) brightness(100%) hue-rotate(300deg);
}

@media (max-width: 50em) {
  .track-content-wrapper {
    display: flex;
    flex-direction: column;
    height: 600px !important;
    gap: 1rem;
  }

  .track-nav-container {
    display: flex;
    height: fit-content;
  }

  .track-visuals {
    margin-inline: auto;
  }
}

@media (min-width: 50em) {
  .track-nav-container {
    margin-block: auto;
  }
}
