.carousel-container {
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.carousel-slides {
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 1rem;
  overflow: hidden;
}

.carousel-card {
  max-width: 400px;
  min-height: 400px;
  margin-inline: auto;
}

.carousel-row {
  width: 100%;
  display: none;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.carousel-indicators {
  display: flex;
  /* gap: clamp(0.5rem, 10%, 2.5rem); */
  gap: 1rem;
  justify-content: center;
  width: 25%;
}

.carousel-indicator {
  list-style: none;
  background-color: var(--clr-neutral-300);
  padding: 0;
  height: 0.9rem;
  width: 0.9rem;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: none;
  transition: background-color 0.25s ease-in-out;
}

.carousel-indicator:hover {
  background-color: var(--clr-neutral-100);
  transition: background-color 0.25s ease-in-out;
}

.carousel-indicator:active {
  background-color: var(--clr-neutral-400);
  transition: background-color 0.25s ease-in-out;
}

.carousel-indicator.active {
  background-color: var(--clr-accent-400);
}

.carousel-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 3rem;
}

.carousel-btn-wrapper:hover > button {
  width: 5rem;
  transition: all 0.3s ease-in-out;
}

.button[data-type="carousel"] {
  width: 2rem;
  height: 2rem !important;
  padding: 1em;
  background-color: var(--clr-neutral-200);
  transition: all 0.125s ease-in-out;
}

.button[data-type="carousel"]:hover {
  /* width: 5rem; */
  background-color: var(--clr-neutral-100);
  transition: all 0.3s ease-in-out;
}

.button[data-type="carousel"]:active {
  background-color: var(--clr-accent-400);
  transition: background-color 0.125s ease-in-out;
}

.button[data-type="carousel"] span {
  color: var(--clr-neutral-900) !important;
}

@media (max-width: 50em) {
  .carousel-container {
    height: 550px;
  }

  .carousel-slides {
    height: 450px;
    grid-template-columns: 1fr;
  }

  .carousel-row {
    display: flex;
  }
}
