.comparison-container {
    background-color: var(--clr-neutral-800);
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem;
    text-align: left;
    margin-block: 5rem;
    border-radius: 2rem;
}

.comparison-header {
    display: flex;
    height: fit-content;
    width: 100%;
    margin-bottom: 0.55rem;
    align-items: center;
}

.comparison-header h1 {
    font-family: var(--ff-primary);
    font-size: var(--fs-secondary-heading);
}

.comparison-header div {
    margin-left: auto;
}

.comparison-names {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
}

.comparison-names h2 {
    font-size: var(--fs-450);
}

.comparison-stat {
    display: flex;
    width: 100%;
    gap: 1rem;
    margin-top: 0.5rem;
}

.comparison-bar {
    padding: 0.25rem 0.5rem;
    text-align: center;
    border-radius: 50vh;
    width: 100%;
    min-width: fit-content;
    transition: width 0.25s ease-in-out;
}

.comparison-bar.winner {
    border: var(--clr-neutral-100) solid 3px;
}

.driver-stats {
    list-style: none;
}

.driver-stat-item {
    height: 75px;
    width: 100%;
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    margin-block: 1rem;
}

.driver-stat-item h2 {
    color: var(--clr-neutral-200);
}

@media (max-width: 32em) {
    .comparison-header {
      flex-direction: column;
      gap: 2rem;
    }
}