.comparison-container {
  gap: 0.5rem;
  text-align: left;
  margin-block: 5rem;
}

.comparison-header {
  display: flex;
  height: fit-content;
  width: 100%;
  margin-bottom: 0.55rem;
  align-items: center;
}

.comparison-header h1 {
  font-family: var(--ff-primary);
  font-size: var(--fs-secondary-heading);
}

.comparison-header div {
  margin-left: auto;
}

.color-marker {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.25rem;
  border: var(--clr-neutral-100) solid 2px;
  transition: background-color 0.25s ease-in-out;
}

.divided {
  --mark-clr-1: var(--clr-neutral-400);
  --mark-clr-2: var(--clr-neutral-400);
  background-image: linear-gradient(
    135deg,
    var(--mark-clr-1) 50%,
    var(--mark-clr-2) 50%
  ) !important;
}

.comparison-names {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
}

.comparison-names div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.comparison-names h2 {
  font-size: var(--fs-450);
}

.comparison-stat {
  display: flex;
  width: 100%;
  gap: 1rem;
  margin-top: 0.5rem;
}

.comparison-bar {
  padding: 0.25rem 0.5rem;
  text-align: center;
  border-radius: 50vh;
  width: 100%;
  min-width: fit-content;
  font-family: var(--ff-body);
  font-weight: var(--fw-bold);
  transition: all 0.25s ease-in-out;
}

.comparison-bar.winner {
  border: var(--clr-neutral-100) solid 3px !important;
}

.driver-stats {
  list-style: none;
}

.driver-stat-item {
  height: 75px;
  width: 100%;
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  margin-block: 1rem;
}

.comparison-desc {
  margin-top: 1rem;
  height: fit-content;
  width: 100%;
}

.comparison-desc p {
  font-family: var(--ff-body);
}

.donut-chart-container {
  /* display: grid;  */
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  /* gap: 1.5rem; */
  gap: clamp(2.5rem, 100%, 10rem);
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  justify-content: center;
  margin-top: 2rem;
}

.dual-donut-wrapper {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.donut-wrapper {
  display: flex;
  gap: 1rem;
}

.donut-wrapper h2 {
  font-family: var(--ff-body);
  color: var(--clr-neutral-200);
}

.donut-container {
  width: 130px;
  height: 130px;
  text-align: center;
  position: relative;
}

.donut-container h2 {
  font-size: var(--fs-body) !important;
  font-family: var(--ff-primary) !important;
  color: var(--clr-neutral-100);
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.donut-arc {
  transition: all 0.25s ease-in-out;
}

.donut-chart {
  stroke: var(--clr-neutral-700);
}

.driver-stat-item h2 {
  color: var(--clr-neutral-200);
}

.chart-container {
  font-family: var(--ff-body);
  padding-block: 1rem;
  overflow-x: scroll;
  user-select: none;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 6px;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #6c757d;
  border-radius: 6px;
}

/* Style the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #495057;
}

.chart-tooltip {
  height: fit-content;
  width: fit-content;
  padding: 1rem;
  background-color: var(--clr-neutral-900);
  border: var(--clr-neutral-100) solid 2px;
  border-radius: 1rem;
}

.chart-tooltip h1 {
  font-size: var(--fs-body);
  margin-bottom: 0.5rem;
}

.chart-tooltip h2 {
  font-style: italic;
  font-weight: var(--fw-semi-bold);
  margin-top: 0.75rem;
}

.chart-tooltip h2,
p {
  font-family: var(--ff-body);
}

@media (max-width: 32em) {
  .comparison-header {
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
  }

  .comparison-header div {
    margin: 0;
  }

  .comparison-names div {
    gap: 0.5rem;
  }
}
