.primary-navigation {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  z-index: 100;
  gap: 1rem;
  margin-bottom: 5rem;
  margin-top: 1rem;
  filter: none !important;
}

.nav-row {
  /* display: flex; */
  /* flex-direction: column; */
  display: grid;
  /* grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr) minmax(
      300px,
      1fr
    ); */
  grid-template-columns: 1fr 1fr 1fr;

  align-items: center;
  gap: 1rem;
}

.nav-header-container {
  width: 100%;
  display: flex;
  gap: 1rem;
  /* align-items: center; */
}

.nav-btn {
  border: none;
  background-color: transparent;
  color: var(--clr-neutral-100) !important;
  /* padding: 1rem; */
  height: 50px;
  width: 50px;
  border-radius: 100vh;
  /* margin-left: auto; */
  transition: all 0.25s ease-in-out;
}

.nav-btn span {
  color: var(--clr-neutral-100);
}

.nav-btn:hover {
  cursor: pointer;
  background-color: var(--clr-neutral-700);
  transition: all 0.25s ease-in-out;
}

.nav-list {
  display: flex;
  width: 100%;
  list-style: none;
}

.navbar-links {
  display: flex;
  gap: clamp(1.25rem, 15%, 8rem);
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  overflow: hidden;
}

.navbar-brand {
  font-family: var(--ff-primary);
  line-height: 1.1;
  text-decoration: none;
  color: var(--clr-neutral-100);
  font-size: var(--fs-sub-heading);
  margin-inline: auto;
}

.nav-link {
  color: var(--clr-neutral-100);
  text-decoration: none;
  transition: color 0.25s ease-in-out;
}

.nav-link:hover {
  color: var(--clr-accent-400);
  transition: color 0.25s ease-in-out;
}

.nav-link:active {
  /* font-weight: var(--fw-bold); */
  color: var(--clr-accent-500) !important;
}

.active-page {
  /* font-weight: var(--fw-bold); */
  color: var(--clr-accent-400) !important;
}

.active-page:hover {
  color: var(--clr-accent-300) !important;
}

@media (max-width: 59em) {
  .primary-navigation {
    position: relative;
  }

  /* .primary-navigation div {
    display: flex;

    align-items: start;
  } */

  .navbar-brand {
    margin: 0;
  }

  .navbar-links {
    position: absolute;
    top: 7rem;
    left: 0;
    width: 100%;
    z-index: 101;
    padding: 1.5rem 2rem;
    flex-direction: column;
    border-radius: 3rem;
    gap: 1.5rem;

    background: var(--clr-neutral-800);
  }

  .nav-link {
    padding: 0.5rem 1rem;
    border-radius: 100vh;
    background-color: transparent;
    color: var(--clr-neutral-300);
    transition: all 0.25s ease-in-out;
  }

  .nav-link:hover {
    color: var(--clr-neutral-100);
    background-color: var(--clr-neutral-700);
    transition: all 0.25s ease-in-out;
  }

  .nav-link:active {
    background-color: var(--clr-neutral-600);
    transition: all 0.25s ease-in-out;
  }

  .navbar-brand {
    font-size: var(--fs-secondary-heading);
  }
}

@media (max-width: 35em) {
  .navbar-brand {
    font-size: var(--fs-sub-heading);
  }
}
